body {
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
}

.display {
    background-color: #222;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    font-size: 2.5em;
    text-align: right;
    margin-bottom: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    background-color: #f9f9f9;
    border: none;
    border-radius: 10px;
    height: 80px;
    font-size: 1.5em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s;
}

.button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button.operator {
    background-color: #ffa500;
    color: white;
}

.button.equal {
    background-color: #4caf50;
    color: white;
    
}

.button.clear {
    background-color: #f44336;
    color: white;
}

.button.zero {
    grid-column: span 2;
}